body{
    background:rgb(34,193,195);
    background:linear-gradient(0deg, rgba(34,193,195,1)3%, rgba(135,146,51,1) 97%);
    background-attachment: fixed;
    font-family: 'zila Slab', serif;
}
#form{
    width:400px;
    margin:20vh auto 0 auto;
    background-color: aliceblue;
    border-radius: 5px;
    padding:30px;

}
h1{
    text-align: center;
    color:rgb(34,193,195);
}
#form-btn{
    background: rgb(34,193,195);
    border:none;
    color:aliceblue;
    padding:10px;
    margin:20px 0px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    width:100%;
}
.input-group{
    display:flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.input-group input{
    border-radius: 5px;
    margin-top: 5px;
    padding: 10px;
    font-size: 20px;
    border:1px solid lightseagreen;
}
.input-group input:focus{
    outline-color: #f78fa7;
}
.input-group .error{
    font-size: 16px;
    color: red;
    margin-top: 5px;
}
.input-group.success input{
    border-color: greenyellow;
}
.input-group.error input{
    border-color: darkred;
}